language: node_js

node_js:
  - 0.6
  - 0.8

before_install:
  - sudo service cassandra start
  - sleep 5

script: 
  - npm run-script lint
  - npm run-script test

notifications:
  email:
    - tomaz+travisci@tomaz.me
